.btn {
    //  border-radius
    //  padding
    //  font-size
    //  @include lh(line-height, font-size)
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}