.btn {
   //  border-radius
   //  padding
   //  font-size
   //  @include lh(line-height, font-size)
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   &--black {
      padding: 13px 47px;
      min-height: 50px;
      font-weight: 400;
      font-size: 20px;
      @include lh(24, 20);
      color: $white;
      background: $black;
      border-radius: 25px;
   }
   &--border {
      border: 1px solid $black;
   }
}

@media (max-width: 575px) {
   .btn {
      width: 100%;
   }
}
