.logout {
   padding: 0px 0px 70px 0px;
   max-width: 360px;
   margin-left: auto;
   & > *:not(:last-child) {
      margin: 0px 0px 15px 0px;
   }
   &__btns {
      & > * {
         width: 100%;
      }
      & > *:not(:last-child) {
         margin: 0px 0px 15px 0px;
      }
   }
}
