.quantity {
   display: flex;
   align-items: center;
   font-weight: 500;
   font-size: 20px;
   @include lh(24, 20);
   & div {
      display: flex;
      align-items: center;
      & > *:not(:last-child) {
         margin: 0px 5px 0px 0px;
      }
		& > *:last-child {
         margin: 0px 0px 0px 10px;
      }
   }
   & svg {
		padding: 5px;
      width: 35px;
      height: 35px;
      cursor: pointer;
   }
   & > *:not(:last-child) {
      margin: 0px 25px 0px 0px;
   }
   & input {
      padding: 5px 0;
      width: 46px;
      text-align: center;
      border-bottom: 2px solid $black;
   }
   & input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
	}
}

@media (max-width: 768px) {
   .quantity {
      font-size: 16px;
   }
}
