.quantity {
   display: flex;
   align-items: center;
   font-weight: 500;
   font-size: 20px;
   @include lh(24, 20);
   & div {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      border: 1px solid $black;
      border-radius: 25px;
      & > *:not(:last-child) {
         margin: 0px 5px 0px 0px;
      }
   }
   & svg {
      padding: 5px;
      width: 35px;
      height: 35px;
      cursor: pointer;
   }
   & > *:not(:last-child) {
      margin: 0px 25px 0px 0px;
   }
}

@media (max-width: 768px) {
   .quantity {
      font-size: 16px;
		& div {
			padding: 2px 5px;
		}
   }
}
