$white: #FFFFFF;
$black: #000000;
$green: #2E853C;
$red: #D02626;
$disabled: #8E8E8E;
$scrollbar: #D9D9D9;
$item-background: rgba(0, 0, 0, 0.5);
$order-list-background: rgb(221, 221, 221);
@mixin lh($lh, $fz) {
    line-height: calc(#{$lh} / #{$fz} * 100%);
}