@import "../components/aboutAccordion";

.about {
   &__container {
      max-width: 1430px;
   }
   &__body {
      padding: 70px 0px 70px 0px;
   }
}

@media (max-width: 992px) {
   .about {
      &__body {
         padding: 20px 0px 70px 0px;
      }
   }
}

@media (max-width: 375px) {
   .about {
      &__body {
         padding: 20px 0px 50px 0px;
      }
   }
}
