.footer {
   padding: 170px 0px 100px 0px;
   &__container {
      max-width: 1666px;
   }
   &__body {
      color: $white;
   }
   &__proverb {
      margin: 0px 0px 200px 0px;
      max-width: 1197px;
      font-weight: 700;
      font-size: 64px;
      @include lh(96, 64);
      text-transform: uppercase;
   }
}

.socials-footer {
   &__title {
      margin: 0px 0px 40px 0px;
      font-weight: 500;
      font-size: 40px;
      @include lh(49, 40);
      text-transform: uppercase;
   }
   &__row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 40px;
   }
}

.item-socials-footer {
   &__title {
      margin: 0px 0px 35px 0px;
      font-weight: 600;
      font-size: 26px;
      @include lh(32, 26);
   }
   &__row {
      & > *:not(:last-child) {
         margin: 0px 0px 25px 0px;
      }
   }
   &__link,
   &__copyright {
      font-weight: 500;
      font-size: 20px;
      @include lh(27, 22);
   }
   &__link {
      &:hover {
         padding: 5px 0;
         text-decoration: underline;
      }
   }
   &__icons-row {
      max-width: 300px;
      display: flex;
      flex-wrap: wrap;
      margin: 0px -17.5px 40px -17.5px;
   }
   &__icons-item {
      padding: 0px 17.5px;
      flex: 0 1 25%;
      & svg {
         width: 40px;
         height: 40px;
      }
   }
   &__btn {
      width: 400px;
      padding: 30px 115px;
      min-height: 90px;
      font-weight: 700;
      font-size: 24px;
      @include lh(29, 24);
      background: $white;
      border-radius: 15px;
   }
   &__block-copyright {
      width: 570px;
      & .item-socials-footer__title {
         margin: 0px 0px 15px 0px;
      }
   }
   &__copyright {
      margin: 0px 0px 25px 0px;
   }
   &__text {
      text-transform: uppercase;
      color: $disabled;
   }
}

@media (max-width: 1024px) {
   .footer {
      padding: 100px 0px 70px 0px;
      &__proverb {
         margin: 0px 0px 100px 0px;
         font-size: 40px;
      }
   }
   .socials-footer {
      &__title {
         margin: 0px 0px 30px 0px;
         font-size: 36px;
      }
   }
}

@media (max-width: 992px) {
   .footer {
      &__proverb {
         text-align: center;
      }
   }
}

@media (max-width: 768px) {
   .footer {
      padding: 70px 0px 50px 0px;
      &__proverb {
         margin: 0px 0px 70px 0px;
         font-size: 36px;
      }
   }
   .socials-footer {
      &__title {
         font-size: 32px;
      }
   }
   .item-socials-footer {
      &__btn {
         padding: 20px 115px;
         min-height: 70px;
         font-size: 20px;
      }
      &__title {
         margin: 0px 0px 25px 0px;
         font-size: 22px;
      }
      &__link,
      &__copyright {
         font-size: 18px;
      }
		&__block-copyright {
			width: 100%;
			max-width: 570px;
		}
   }
}

@media (max-width: 500px) {
	.item-socials-footer {
      &__btn {
         width: 100%;
      }
   }
}

@media (max-width: 400px) {
	.item-socials-footer {
      &__btn {
			padding: 20px 60px;
         width: 100%;
      }
   }
}

@media (max-width: 375px) {
   .footer {
      padding: 50px 0px 20px 0px;
      &__proverb {
         margin: 0px 0px 50px 0px;
         font-size: 30px;
      }
   }
   .socials-footer {
      &__title {
         font-size: 28px;
      }
   }
}
